<!DOCTYPE html>
<html lang="pt" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">	
<head>
	<title>Cadastro de usuário</title>	
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}"/>
</head>

<section class="aw-layout-content  js-content" layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Cadastro de usuário
			</h1>
		</div>
	</div>

	<div class="container-fluid">
		<form method="POST" th:object="${usuario}" class="form-vertical  js-form-loading">
			<div class="row">			
				<div class="col-sm-12">				
					<div class="form-group">
						<label for="nome">Nome</label>
						<input id="nome" type="text" class="form-control">	
					</div>
				</div>				
			</div>
			
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="email">E-mail</label>
						<input id="email" type="text" class="form-control">
					</div>					
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="dataNascimento">Data de nascimento</label>
						<input id="dataNascimento" type="text" class="form-control">						
					</div>
				</div>
			</div> 
				
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label for="senha">Senha</label>
						<input id="senha" type="password" class="form-control">	
					</div>
				</div>
				
				<div class="col-sm-3">
					<div class="form-group">
						<label for="sabor">Confirmação senha</label>
						<input id="sabor" type="password" class="form-control">
					</div>
				</div>
				
				<div class="col-sm-6">
					<div class="form-group">
						<label for="status">Status</label>
						<div>
							<input id="status" type="checkbox" class="js-status" data-size="small" 
							data-off-color="danger" data-on-text="Ativo" data-off-text="Inativo"/>
						</div>
					</div>
				</div>	
			</div>
						
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="form-group">
						<label class="control-label">Grupos</label>
						<div>
							<div class="checkbox checkbox-inline">
								<input type="checkbox">
								<label>Administrador</label> 									
							</div>
							<div class="checkbox checkbox-inline">
								<input type="checkbox">
								<label>Vendedor</label> 																	
							</div>
						</div>
					</div>
				</div>		
			</div>	
				
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
			</div>
		</form>
	</div> 
</section>	
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>
	<script>
		$('.js-status').bootstrapSwitch();
	</script>	
</th:block>
</html>