/*
######################
# UTILIDADES
######################
*/
.bw-glyphicon-large {
	font-size: 18px;
}

.bw-required > .control-label:after {
	content: "*"
}

/*
######################
# COMPONENTES
######################
*/ 

/* Field Action */
.bw-field-action {
	display: flex;
}

.bw-field-action__icon {
	margin: 6px 0 0 5px;
}

/* Upload */
.bw-upload {
	padding: 15px; /* espaço entre div e conteudo */  
	border: 1px dashed #ddd; /* borda traçada com cor ddd */
	border-radius: 4px; /* borda arredondada */
	background: #fafafa;
	text-align: center;
}

/*
# CURIOSIDADE
	display: none; Este exclui o elemento removendo o espaço ocupado por ele.
	visibility: hidden; Este inibe o elemento, mas o espaço continua preenchido
*/
.bw-upload-form-file {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    margin-bottom: 1px;
}

.bw-upload-form-file > input[type=file] {
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    font-size: 500px;
} 

/* Tabela Simples */
.bw-tabela-simples {
	margin-top: 15px;
}

.bw-tabela-simples table tr th {
	border-bottom-width: 1px;
}

.bw-tabela-simples table tr td {
    border-top: none;
    border-bottom: 1px solid #e7eaec;
    padding: 10px;
    vertical-align: middle;
}

/*
###################
# PÁGINAS DO SISTEMA
###################
*/

/* Colunas - Pesquisa de Cervejas */
.table-cervejas-col-foto {
	min-width: 50px;
	width: 50px
}

.table-cervejas-col-sku {
	width: 90px;
	text-align: center;
}

.table-cervejas-col-nome {
	
}

.table-cervejas-col-estilo {
	width: 120px;
}

.table-cervejas-col-origem {
	width: 100px;
}

.table-cervejas-col-valor {
	width: 100px;
	text-align: right;
}

.table-cervejas-col-acoes {
	width: 80px;
}

