<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'"
	xmlns:brewer="http://brewer.algaworks.com">
<head>
	<title>Pesquisa de cerveja</title>
</head>
<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10">
						<h1>Pesquisa de cervejas</h1>
					</div>
					
					<div class="col-sm-2">
						<div class="aw-page-header-controls">
							<a class="btn btn-default" th:href="@{/cervejas/novo}"> 
								<i class="glyphicon glyphicon-plus-sign"></i> 
								<span class="hidden-xs hidden-sm">Nova cerveja</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<form method="GET" class="form-vertical  js-form-loading" th:object="${cervejaFilter}">
				<div class="row">
					<div class="col-sm-3" >
						<div class="form-group" >
							<label for="sku" class="control-label">SKU</label>
							<input id="sku" type="text" class="form-control" autofocus="autofocus" th:field="*{sku}">	
						</div>	
					</div>
				
					<div class="col-sm-9" >				
						<div class="form-group" >
							<label for="nome" class="control-label">Nome</label>
							<input id="nome" type="text" class="form-control" th:field="*{nome}" >	
						</div>
					</div>				
				</div>
				
				<div class="row">
					<div class="col-sm-6  form-group" >
						<label for="estilo" class="control-label">Estilo</label>
						<div class="bw-field-action">
							<select id="estilo" class="form-control" th:field="*{estilo}">
								<option value="">Selecione o estilo</option>
								<option th:each="estilo : ${estilos}"  th:text="${estilo.nome}" th:value="${estilo.codigo}">Pale lager</option>
							</select>
						</div>
					</div>
				
					<div class="col-sm-6">
						<div class="form-group" >
							<label for="sabor" class="control-label">Sabor</label>
							<select id="sabor" class="form-control" th:field="*{sabor}">
								<option value="">Selecione o sabor</option>
								<option value="">Todos os estilos</option>
						 		<option th:each="sabor : ${sabores}" th:value=${sabor} th:text=${sabor.descricao}></option>
							</select>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="form-group col-sm-6"> 
						<label class="control-label">Origem</label>
						<div>
							<th:block th:each="origem : ${origens}">
								<div class="radio radio-inline">
									<input th:id="|id_${origem}|" type="radio" th:value="${origem}" th:field="*{origem}"/>
									<label th:for="|id_${origem}|" th:text="${origem.descricao}">Nacional</label>									
								</div>
							</th:block>
							<div class="radio radio-inline">
								<input id="todasOrigens" type="radio" th:checked="*{origem} == null" name="origem" />
								<label for="todasOrigens">Todas</label> 
							</div>
						</div>
					</div>
					
					<div class="form-group col-sm-6">
						<label for="valorDe">Valor unitário</label>
						<div class="form-inline">
							<input type="text" class="form-control aw-form-control-inline-sm js-decimal" id="valorDe" th:field="*{valorDe}" />
							<label for="valorAte" class="aw-form-label-between">até</label>
							<input type="text" class="form-control aw-form-control-inline-sm js-decimal" id="valorAte" th:field="*{valorAte}" />
						</div>
					</div>
				</div>		
				
				<button type="submit" class="btn btn-primary">Pesquisar</button>
			</form>
			
			<div class="table-responsive bw-tabela-simples">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="table-cervejas-col-foto"></th>
							<th class="table-cervejas-col-sku">SKU</th>
							<th class="table-cervejas-col-nome">Nome</th>
							<th class="table-cervejas-col-estilo">Estilo</th>
							<th class="table-cervejas-col-origem">Origem</th>
							<th class="table-cervejas-col-valor">Valor</th>
							<th class="table-cervejas-col-acoes"></th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="cerveja : ${pagina.content}">
							<td class="text-center">
								<img th:src="@{/fotos/thumbnail.{foto}(foto=${cerveja.fotoOuMock})}" class="img-responsive" />
							</td>
							<td class="text-center" th:text="${cerveja.sku}">AA1234</td>
							<td th:text="${cerveja.nome}">Cerveja Stella</td>
							<td th:text="${cerveja.estilo.nome}">Lager</td>
							<td th:text="${cerveja.origem.descricao}">Internacional</td>
							<td class="text-right" th:text="|R$ ${cerveja.valor}|">R$ 8.00</td>
							<td class="text-center">
								<a class="btn  btn-link  btn-xs" title="Editar"> 
									<i class="glyphicon glyphicon-pencil"></i>
								</a>
								<a class="btn  btn-link  btn-xs" title="Excluir">
									<i class="glyphicon glyphicon-remove"></i>
								</a>
							</td>
						</tr>
						<tr th:if="${#lists.isEmpty(pagina.content)}">
							<td colspan="7">Nenhuma cerveja encontrada</td>
						</tr>
					</tbody> 
				</table>
			</div>
		</div>
		
		<div class="col-sm-12 text-center" th:if="${not #lists.isEmpty(pagina.content)}">
			<nav>
				<ul class="pagination pagination-sm">
					<li class="disabled">
						<a href="#"><span>&laquo;</span></a>
					</li>
					<th:block th:each="p : ${#numbers.sequence(1, pagina.totalPages)}" th:with="numeroPagina=${p - 1}, paginaAtual=${pagina.number}">
						<li th:class="${paginaAtual == numeroPagina} ? active">
							<a th:href="|?page=${numeroPagina}|">[[${p}]]</a>
						</li>
					</th:block>
					
					<li>
						<a href="#"><span>&raquo;</span></a>
					</li>				
				</ul>
			</nav>
		</div>
	</section>
</body>
</html>
